# Backend API Configuration
# For local development: http://localhost:8000/api
# For production: https://your-backend-url.com/api
VITE_BACKEND_URL=https://studentsresearchlab-coge.onrender.com/api


# Google Sheets Configuration
# Get API Key from: https://console.cloud.google.com/apis/credentials
VITE_GOOGLE_SHEETS_API_KEY=your_google_api_key_here

# Get Sheet ID from the URL: https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit
VITE_GOOGLE_SHEET_ID=your_google_sheet_id_here
